{% extends 'base_luxury.html' %}

{% block title %}Check-In List{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Guests to Check In</h3>
                </div>
                <div class="card-body">
                    <p>Check-in management coming soon...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}