{% extends 'base_luxury.html' %}

{% block title %}Housekeeping Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Housekeeping Dashboard</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card bg-warning text-white">
                                <div class="card-body text-center">
                                    <h4>12</h4>
                                    <p>Rooms to Clean</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card bg-success text-white">
                                <div class="card-body text-center">
                                    <h4>8</h4>
                                    <p>Rooms Cleaned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="{% url 'housekeeping:task_list' %}" class="btn btn-primary">View All Tasks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}